.main-wrapper {
    width: 70%;
    background: #ffffff;
    margin-right: 150px;
}
.main-container {
    display: flex;
    flex-direction: row;
    background: #f8f8f8;
    position: relative;
}
.main-picture {
    position: relative;
}
.main-picture img {
    max-width: 100%;
}
.main-picture button {
    background: #006ab3;
    width: 201px;
    height: 69px;
    position: absolute;
    color: white;
    font-size: 38px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    outline: none;
    left: 7%;
    bottom: 15%;
}
.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 43px;
    right: 9px;
    cursor: pointer;
}
.close:before,
.close:after {
    position: absolute;
    left: 12px;
    content: " ";
    height: 23px;
    width: 2px;
    background-color: #333;
    top: 2px;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.close:hover {
    background: #e0d2d2;
}
.main-picture button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.main-picture button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    z-index: 1;
}
.ads div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.links div {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}
.grey-box {
    background: #f8f8f8;
    color: #524f4f;
    max-width: 100%;
    margin-top: 17px;
}
.ads-mobile {
    display: none;
    margin-top: 30px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ads-mobile div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.adress-hours .city {
    font-size: 18px;
}
.adress,
.hours {
    font-size: 16px;
}
.col-one {
    padding-right: 40px;
    width: 80%;
}
.main-picture button:hover span {
    padding-right: 25px;
}
.main-picture button:hover span:after {
    opacity: 1;
    right: 0;
}
.content-wrapper {
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 60px;
    display: flex;
}
.content-wrapper .text {
    text-align: left;
}
.content-wrapper .picture {
    margin-top: 80px;
}
.content-wrapper .picture img {
    max-width: 100%;
    text-align: left;
}
.topics-container {
    padding-top: 60px;
}
.text-container .text {
    font-size: 22px;
}
.topic-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 100px;
    margin-top: 30px;
}
.topic-wrapper .title {
    font-weight: 600;
    width: 32%;
    text-align: left;
    margin-right: 20px;
    font-size: 24px;
}
.topic-wrapper .text {
    width: 75%;
    text-align: left;
    position: relative;
    font-size: 18px;
}
.topic-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5em;
    border-top: 1px solid #dbd8d8;
    margin-top: -27px;
    z-index: 1;
}
.maps-container {
    display: flex;
    padding-bottom: 100px;
}
.maps-adress {
    width: 50%;
}
.maps-img img {
    max-width: 90%;
    cursor: pointer;
}
.adress-hours {
    padding-top: 20px;
}
.city {
    position: relative;
}
.adress-hours .city:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 30px;
    right: 30px;
    height: 0.5em;
    border-top: 1px solid #dbd8d8;
    z-index: 1;
}
.adress-hours .adress {
    padding-top: 25px;
}
.adress-hours .hours {
    padding-top: 15px;
}
.box-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.box-wrapper .links {
    height: 200px;
}
.box-wrapper .ads {
    height: 70px;
}

@media only screen and (max-width: 75em) {
    .main-wrapper {
        margin-right: 50px;
    }
}
@media only screen and (max-width: 64em) {
    .box-wrapper {
        display: none;
    }
    .ads-mobile {
        display: block;
    }
    .col-one {
        width: 100%;
        padding-right: 0px;
    }
    .main-picture button {
        width: 170px;
        height: 50px;
        font-size: 30px;
    }
}
@media (max-width: 50em) {
    .main-picture button {
        font-size: 30px;
    }
    .main-wrapper {
        margin-right: 0;
    }
    .content-wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }
    .content-wrapper .picture {
        margin-top: 20px;
    }
    .topics-container {
        padding-top: 20px;
    }
    .topics-container .topic-wrapper {
        flex-direction: column;
    }
    .topics-container .title {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .topic-wrapper .text {
        font-size: 17px;
        text-align: left;
        width: 100%;
    }
    .text-container .text {
        font-size: 20px;
    }
}
@media (max-width: 40em) {
    .content-wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }
    .content-wrapper .picture {
        margin-top: 20px;
    }
    .topics-container {
        padding-top: 20px;
    }
    .topics-container .topic-wrapper {
        flex-direction: column;
    }
    .topics-container .title {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .topic-wrapper .text {
        font-size: 17px;
        text-align: left;
        width: 100%;
    }
}
@media (max-width: 30em) {
    .main-container {
        flex-direction: column;
        padding-right: 0;
    }
    .main-container .navigation {
        width: 100%;
        order: 3;
    }
    .main-wrapper {
        order: 2;
        width: 100%;
    }
    .main-picture button {
        width: 125px;
        height: 45px;
        display: flex;
    }
    .main-picture button span {
        font-size: 22px;
    }
    .content-wrapper {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
    }
    .content-wrapper .picture {
        margin-top: 20px;
    }
    .topics-container {
        padding-top: 20px;
    }
    .topics-container .topic-wrapper {
        flex-direction: column;
    }
    .topics-container .topic-wrapper:nth-child(2) {
        margin-bottom: 40px;
    }
    .topic-wrapper.future {
        margin-top: 50px;
    }
    .topics-container .title {
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .topic-wrapper .text {
        font-size: 19px;
        text-align: left;
        width: 100%;
    }
    .maps-container {
        display: block;
    }
    .maps-adress {
        width: 100%;
    }
    .adress,
    .hours {
        font-size: 17px;
    }
    .adress-hours .city {
        font-size: 22px;
    }
    .text-container .text {
        font-size: 19px;
    }
}
