.navigation {
    background: #f8f8f8;
    width: 30%;
}
.navigation-wrapper {
    padding-left: 150px;
}
.navigation-menu {
    position: relative;
}
.navigation-menu .title {
    color: #959595;
    text-transform: uppercase;
    display: flex;
    padding-bottom: 20px;
    font-size: 12px;
}
.navigation-menu li {
    list-style-type: none;
    position: relative;
    height: 56px;
    font-size: 16px;
    display: flex;
    cursor: pointer;
}
.navigation-menu li a {
    margin-left: 15px;
    align-self: center;
}
.navigation-menu ul li:nth-child(1) {
    height: 50px;
}
.navigation-menu li:last-child::before {
    content: none;
}
.navigation-menu.nav {
    padding-top: 69px;
}
.nav li::before {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid #e0e0e0;
    z-index: 1;
}
.nav-wrapper {
    font-family: sans-serif;
}
.nav-wrapper li:hover {
    background-color: #ffffff;
    color: #006ab3;
}
.nav-wrapper ul {
    margin: 0;
    padding-left: 0px;
}
.testimonials {
    padding-right: 10px;
}
.testimonials-contact {
    margin-top: 70px;
}
.testimonials-contact .text {
    font-weight: 600;
}
.e-mail {
    word-wrap: break-word;
}
.customer {
    text-align: right;
    font-size: 16px;
}
.contact {
    margin-top: 100px;
    padding-right: 10px;
}
.contacts-wrapper {
    margin-bottom: 20px;
    text-align: start;
    font-style: italic;
    font-size: 1em;
}
.title-wrapper {
    text-transform: uppercase;
    font-size: 12px;
    color: #959595;
    margin-bottom: 20px;
    display: flex;
}
.text-wrapper {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 1em;
    text-align: start;
    width: 80%;
}
.social-media {
    margin-top: 100px;
    padding-right: 10px;
}
.social-media .social-name {
    margin-left: 20px;
}
.social .fa {
    margin-right: 5px;
    color: black;
    font-size: 20px;
    vertical-align: center;
    position: absolute;
    right: 5px;
    top: 8px;
}
.social .title {
    padding-bottom: 0px;
}
.circle.pinterest {
    background: #e23b3b;
}
.circle.twitter {
    background: #2fb7ff;
}
.circle.instagram {
    background: #ffa700;
}
.social-name {
    display: inline-block;
}
.social-media li > div {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.social-name:nth-child(1) {
    margin-top: 8px;
}
.social li {
    background: white;
    margin-bottom: 2px;
}
.social .fa-facebook {
    right: 7px;
}

@media only screen and (max-width: 75em) {
    .navigation-wrapper {
        padding-left: 50px;
    }
}
@media only screen and (max-width: 64em) {
    .navigation-menu li div {
        margin-left: 3px;
    }
}
@media (max-width: 45em) {
    .social li div {
        margin-left: 0px;
    }
    .social-media .circle {
        margin-left: 0px;
    }
}
@media (max-width: 42em) {
    .navigation-wrapper {
        padding-left: 10px;
    }
    .navigation-menu li a {
        margin-left: 0px;
    }
    .social-name {
        font-size: 15px;
    }
    .social-media .social-name {
        margin-left: 7px;
    }
}
@media (max-width: 30em) {
    .navigation-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navigation-wrapper .title-wrapper {
        font-size: 20px;
    }
    .navigation-menu.nav {
        display: none;
    }
    .navigation-menu .title {
        font-size: 20px;
    }
    .social-media {
        padding-right: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .social-media .nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-media ul {
        width: 75%;
    }
    .social-name {
        font-size: 20px;
    }
    .hamburger-menu-container .navigation-menu.menu {
        width: 100%;
    }
    .testimonials-contact {
        margin-top: 20px;
    }
    .contacts-wrapper {
        font-size: 17px;
    }
    .contact {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact div {
        text-align: center;
    }
    .title-wrapper {
        display: block;
    }
    .text-wrapper {
        font-size: 17px;
    }
}
