footer {
    background: #fafafa;
    margin-top: auto;
    width: 100%;
}
/* .footer-list-top {
    width: 25%;
} */
.footer-list-top .text {
    font-size: 16px;
    width: 85%;
    text-align: left;
    /* font-weight: 600; */
    line-height: 26px;
}
.footer-list-top div {
    font-size: 13px;
    line-height: 26px;
}
.footer-list-top li {
    text-align: left;
    padding-bottom: 6px;
}
.footer .social-media {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}
.footer .social-media .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.ourProducts {
    padding-right: 65px;
}
.ourProducts .col-first {
    margin-right: 55px;
    width: 97%;
}
.col-container .col-first {
    padding-right: 30px;
}
.footer .social-media .fa {
    font-size: 20px;
    color: white;
}
.circle.fb {
    background-color: #006ab3;
}
.input-social .circle.twitter {
    background-color: #74b14a;
}
.input-social .circle.pinterest {
    background-color: #ff8500;
}
.input-social .circle.google {
    background-color: #111111;
}
.footer .social-media .social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 17px;
    cursor: pointer;
}
.footer .social-icon:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.footer .social-media .circle {
    border: none;
}
.footer .generic-anchor:hover {
    color: blue;
}
.footer-last a:hover {
    color: blue;
}
.footer-last {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-last a {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: grey;
    margin-left: 20px;
    cursor: pointer;
}
.footer-list-top .small-text {
    display: block;
    padding-top: 6px;
    font-size: 11px;
    font-style: italic;
}
.footer-list-top .photo-book {
    padding-left: 0;
    padding-right: 150px;
}
.photo-books .col-first {
    margin-right: 110px;
}
.card .col-container {
    margin-right: 83px;
}
.footer-list-top .sign {
    text-align: left;
}
.footer-list-top.sign {
    /* width: 65%; */
    width: 31%
}
.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}
.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
}
.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: rgb(55, 55, 55);
    padding: 0 20px;
}
.footer-social-connect {
    display: flex;
    align-items: center;
    font: 3.5em "Oswald", sans-serif;
    color: #fff;
}
.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px;
}
.footer-social-overlap > a {
    font-size: 3em;
}
.footer-social-overlap > a:not(:first-child) {
    margin-left: 0.38em;
}
.footer-bottom-section {
    width: 100%;
    padding: 20px;
    border-top: 1px solid #ccc;
    background: white;
}
.footer-bottom-section > div:first-child {
    margin-right: auto;
}
.footer-bottom-wrapper {
    font-size: 1.5em;
    color: #fff;
}
.footer-address {
    display: inline;
    font-style: normal;
}
.footer-list-header {
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}
.footer-container {
    display: flex;
    /* padding-left: 150px;
  padding-right: 150px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 73px;
}
.generic-anchor {
    color: #878383;
    cursor: pointer;
}
.generic-anchor:visited {
    color: #8db9ed;
}
.generic-anchor:hover {
    color: #ccc;
}
.products .footer-list-anchor {
    text-transform: uppercase;
}
.input-social {
    width: 76%;
    height: 100%;
    text-align: left;
    padding-top: 15px;
}
.input-social input {
    width: 100%;
    height: 10%;
}
.ourProducts {
    text-transform: uppercase;
}
.col-container {
    display: flex;
    justify-content: space-between;
}
.flex-rw {
    display: flex;
    flex-flow: row wrap;
}
.col-first {
    width: 50%;
}
.col-second {
    width: 83%;
}
.cards .col-second {
    vertical-align: top;
}

@media only screen and (max-width: 75em) {
    .footer-container {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media only screen and (max-width: 64em) {
    .footer-list-top div {
        font-size: 10px;
    }
    .footer-list-top .text {
        font-size: 12px;
    }
    .footer-last {
        flex-wrap: wrap;
    }
}
@media (max-width: 50em) {
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-list-top {
        width: 50%;
    }
}
@media (max-width: 30em) {
    /* .footer-container {
        display: block;
    } */
    .footer {
        width: 100%;
    }
    .input-social .social-media .social-icon {
        margin-right: 17px;
    }
    .footer .social-media {
        margin-left: -12px;
    }
    .footer-list-top.sign {
        width: 85%;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
        /* padding-left: 100px;
        padding-right: 100px; */
    }
    .flex-rw {
        width: 100%;
        flex-direction: column;
    }
    .footer-list-header {
        /* text-align: center; */
        padding-bottom: 10px;
        /* width: 100%; */
        /* flex-wrap: nowrap; */
        padding-right: 0px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    /* .footer-list-header.products {
        padding-right: 140px;
    }
    .footer-list-header.books {
        padding-right: 140px;
    } */
    .footer-list-top {
        /* width: 100%; 
        justify-content: center;
        padding-left: 68px; */
        width: 85%;
        /* display: flex; */
        /* flex-direction: column; */
        /* display: flex; */
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        
    }
    .footer-list-top .text {
        line-height: 15px;
    }
    .col-container {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .col-first {
        margin-right: 20px;
        width: 100%;
    }
    .footer-list-top div {
        font-size: 1em;
        line-height: 20px;
    }
    .footer-social-connect {
        font-size: 2.4em;
    }
    .footer-social-overlap > a {
        font-size: 2.24em;
    }
    .footer-list-top.sign {
        text-align: left;
    }
    .footer-list-top.sign .text {
        margin-right: 17px;
    }
    .footer-bottom-wrapper {
        font-size: 1.3em;
    }
    .col-second {
        margin-right: 80px;

        width: 100%;
    }
    .ourProducts .col-second {
        margin-right: 44px;
    }
    .sign .input-social {
        padding-left: 0;
        padding-top: 10px;
    }
    .footer-last {
        padding-left: 0;
    }
    .footer-bottom-section .footer-last a {
        margin: 5px 20px 10px 20px;
    }
    .input-social .small-text {
        font-size: 10px;
    }
    
}
