.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 2;
}
.site-header {
    background:  #006AB3;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
  }
  .white {
    background: white;
    color: black;
  }
  .white .fa {
    font-size: 15px;
    color: blue;
  }
  .white .actions .fa {
    margin-right: 5px;
  }
  .header-container ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .header-container.logo {
    list-style: none;
    display: flex;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    font-size: 14px;
  }
  .header-container li {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    font-size: 14px;
  }
  .header-container .fa {
    margin-right: 5px;
  }
  .header-container .site-name {
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
  .header-container .fa-globe {
    font-size: 40px;
    color: blue;
  }
  .hamburger-wrapper .fa {
    font-size: 25px;
    padding-left: 30px;
    cursor: pointer;
  }
  .hamburger-social-icons {
    display: flex;
    justify-content: flex-start;
    padding-left: 36px;
    padding-top: 40px;
  }
  .hamburger-menu-container .navigation-menu.menu {
    width: 300px;
  }
  .hamburger-social-icons .circle {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .hamburger-social-icons .social-icon {
    padding-left: 10px;
    cursor: pointer;
  }
  .button-hamburger {
    display: none;
  }
  .hamburger-social-icons .social-icon:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  .navigation-menu.menu {
    position: absolute;
    right: 0px;
    z-index: 2;
    background: white;
    padding-top: 30px;
    width: 25%;
  }
  .hamburger-menu-container {
    position: relative;
  }
  .menu .nav-wrapper li:hover {
    background-color: #F8F8F8;
    color: #0C0CD2;
  }
  .navigation-menu .nav-wrapper.opened-menu {
    padding-left: 40px;
  }
  .nav-wrapper.opened-menu .title {
    padding-left: 25px;
  }
  .nav-wrapper.opened-menu li::before {
    content: none;
  }
  .user-account ul {
    display: none;
  }
  .user-account:hover ul {
    list-style: none;
    display: block;
  }
  .user-account:hover ul li a {
    text-decoration: none;
    padding: 20px;
  }
  .actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .actions .fa-icons {
    margin-right: 35px;
  }
  .actions div {
    padding-left: 15px;
    cursor: pointer;
    font-size: 14px;
  }
  .active.hamburger-open {
    background: #F8F8F8;
  }
  .button-shopping {
    width: 82px;
    background-color: #25C925;
    margin-left: 20px;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 7px;
    cursor: pointer;
    font-size: 14px;
  }
  .actions .fa {
    margin-right: 5px;
  }
  .actions .fa-shopping-cart {
    padding-left: 0;
  }
  .actions .text {
    display: inline-block;
    font-size: 16px;
  }
  .action-container {
    display: flex;
    height: 40px;
  }
  .white .actions div {
    padding-left: 0;
  }
  .white .actions .fa-bars {
    font-size: 22px;
  }
  .white .actions .fa-icons {
    align-self: center;
  }
  .white .fa-icons:not(.nohover):hover {  
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
    padding: 6px 0; 
  }
  .blue .actions div:not(.fa-shopping-cart):hover {
    webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .button-shopping:hover {
    webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  @media only screen and (max-width: 75em) { 
    .site-header {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media only screen and (max-width: 64em) { 
    .header-container {
      display: none;
    }
    .logo-wrapper {
      padding: 10px;
    }
    .header-container .site-name {
      margin-top: 5px;
      margin-left: 0px;
    }
    .header-container .fa {
      margin-right: 0px;
    }
  }
  @media (max-width: 50em) { 
    .site-header {
      padding-left: 0;
      padding-right: 0;
    }
    .site-header.white {
      padding-right: 10px;
    }
    .site-header.blue {
      justify-content: center;
    }
    .blue .actions {
      margin-left: 0px;
    }
    .action-container {
      width: 33%;
      justify-content: center;
    }
    .white .actions {
      flex-wrap: wrap;
    }
    .actions .fa-icons {
      margin-right: 0px;
    }
  }
  @media (max-width: 40em) { 
    .blue .actions {
      flex-wrap: wrap;
      justify-content: center
    }
  }
  @media (max-width: 30em) {
    .site-header {
      padding-left: 0;
      padding-right: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .header-wrapper {
      position: relative;
    }
    .site-header .actions {
      flex-wrap: wrap;
     }
     .site-header.white .actions {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 92%;
      flex-direction: column;
     }
     .site-header.white {
      display: contents;
      padding-left: 21px;
      padding-right: 0;
     } 
     .header-container.logo {
      background: white;
     }
     .header-container .site-name {
      margin-top: 8px;
      margin-left: 8px;
     }
     .button-shopping {
      display: none;
     }
     .button-shopping.small {
       display: inline-block;
       width: 100px;
       height: 36px;
       font-size: 22px;
     }
     .button-hamburger {
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
      justify-content: center;
    }
    .button-hamburger .fa-bars {
      font-size: 32px;
    }
    .button-hamburger .fa-shopping-cart {
      font-size: 25px;
      color: white;
    }
     .button-hamburger .fa-icons  {
         display: inline-block;
         width: 100px;
     }
     .button-hamburger .cart {
      display: inline-block;
      padding-left: 5px;
     }
     .blue .actions {
      justify-content: center;
    }
    .blue .actions div {
      padding-left: 6px;
      padding-right: 6px;
    }
    .white .actions {
      height: 150px;
    }
    .white .hamburger-wrapper {
      display: none;
    }
  }