@import './Header.css';
@import './Aside.css';
@import './Main.css';
@import './Footer.css';


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: -1;
  opacity: 0.8;
}
header,
footer {
  position: relative;
}
.active {
  background: white;
  color: #0C0CD2;
}
.social .fa {
  margin-right: 5px;
  color: black;
  font-size: 20px;
  vertical-align: center;
  position: absolute;
  right: 5px;
  top: 8px;
}
.circle {
  display: inline-block;
  background: blue;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: relative;
}
.bold {
  font-weight: 600;
}
@media (min-width: 1560px) {
  .App {
    border-left: 80px solid gray;
    border-right: 80px solid gray;
  }
}
* {
  box-sizing: border-box
}
html, body {
  height: 100%
}
body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.ReactModalPortal {
  z-index: 2;
}
main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 75em) {
  .footer-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-container {
    padding-right: 50px;
  }
  .navigation-wrapper {
    padding-left: 50px;
  }
  .site-header {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 64em) {
  .header-container {
    display: none;
  }
  .navigation-menu li div {
    margin-left: 3px;
  }
  .box-wrapper {
    display: none;
  }
  .ads-mobile {
    display: block;
  }
  .col-one {
    width: 100%;
    padding-right: 0px;
  }
  .footer-list-top div {
    font-size: 10px;
  }
  .footer-list-top .text {
    font-size: 12px;
  }
  .footer-last {
    flex-wrap: wrap;
  }
  .main-picture button {
    width: 170px;
    height: 50px;
    font-size: 35px;
  }
  .logo-wrapper {
    padding: 10px;
  }
  .header-container .site-name {
    margin-top: 5px;
    margin-left: 0px;
  }
  .header-container .fa {
    margin-right: 0px;
  }
}
@media (max-width: 50em) { 
  .site-header {
    padding-left: 0;
    padding-right: 0;
  }
  .site-header.white {
    padding-right: 10px;
  }
  .site-header.blue {
    justify-content: center;
  }
  .blue .actions {
    margin-left: 0px;
  }
  .main-picture button {
    font-size: 30px;
  }
  .main-container {
    padding-right: 0;
  }
  .action-container {
    width: 33%;
    justify-content: center;
  }
  .white .actions {
    flex-wrap: wrap;
  }
  .actions .fa-icons {
    margin-right: 0px;
  }
  .content-wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
   }
   .content-wrapper .picture {
    margin-top: 20px;
   }
   .topics-container {
    padding-top: 20px;
   }
   .topics-container .topic-wrapper {
    flex-direction: column;
   }
   .topics-container .title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 20px;
   }
   .topic-wrapper .text {
     font-size: 17px;
     text-align: left;
     width: 100%;
   }
   .text-container .text {
     font-size: 20px;
   }
   .footer-container {
     flex-wrap: wrap;
   }
   .footer-list-top {
     width: 50%;
   }
}
@media (max-width: 40em) {
  .blue .actions {
    flex-wrap: wrap;
    justify-content: center
  }
   .content-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
 }
 .content-wrapper .picture {
  margin-top: 20px;
 }
 .topics-container {
  padding-top: 20px;
 }
 .topics-container .topic-wrapper {
  flex-direction: column;
 }
 .topics-container .title {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
 }
 .topic-wrapper .text {
   font-size: 17px;
   text-align: left;
   width: 100%;
 }
 .navigation-wrapper {
   padding-left: 10px;
 }
 .social-name {
   font-size: 13px;
 }
}
@media (max-width: 30em) {
 .site-header {
   padding-left: 0;
   padding-right: 0;
   padding-top: 5px;
   padding-bottom: 5px;
 }
 .header-wrapper {
   position: relative;
 }
 .social-media {
   padding-right: 0;
   margin-top: 50px;
   margin-bottom: 50px;
 }
 .social-media .nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .social-media ul {
  width: 75%;
 }
 .site-header .actions {
  flex-wrap: wrap;
 }
 .site-header.white .actions {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92%;
  flex-direction: column;
 }
 .site-header.white {
  display: contents;
  padding-left: 21px;
  padding-right: 0;
 } 
 .header-container.logo {
  background: white;
 }
 .header-container .site-name {
  margin-top: 8px;
  margin-left: 8px;
 }
 .button-shopping {
  display: none;
 }
 .button-shopping.small {
   display: inline-block;
   width: 100px;
   height: 36px;
   font-size: 22px;
 }
 .button-hamburger {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.button-hamburger .fa-bars {
  font-size: 32px;
}
.button-hamburger .fa-shopping-cart {
  font-size: 25px;
  color: white;
}
 .button-hamburger .fa-icons  {
     display: inline-block;
     width: 100px;
 }
 .button-hamburger .cart {
  display: inline-block;
  padding-left: 5px;
 }
 .main-container {
  flex-direction: column;
  padding-right: 0;
 }
 .main-container .navigation {
  width: 100%;
  order: 3;
 }
 .main-wrapper {
  order: 2;
  width: 100%;
 }
 .main-picture button {
  width: 125px;
  height: 45px;
  display: flex;
 }
 .main-picture button span {
   font-size: 22px;
 }
 .content-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
 }
 .content-wrapper .picture {
  margin-top: 20px;
 }
 .topics-container {
  padding-top: 20px;
 }
 .topics-container .topic-wrapper {
  flex-direction: column;
 }
 .topics-container .title {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
 }
 .topic-wrapper .text {
   font-size: 17px;
   text-align: left;
   width: 100%;
 }
 .navigation-wrapper {
  padding-left: 15px;
  padding-right: 15px;
 }
 .navigation-menu.nav {
   display: none;
 }
 .hamburger-menu-container .navigation-menu.menu {
  width: 100%;
}
 .testimonials-contact {
   margin-top: 20px;
 }
 .contact {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .contact div {
  text-align: center;
 }
 .footer-container {
  display: block;
 }
 .footer-list-header {
  font-size: 20px;
  margin-bottom: 10px;
 }
 .maps-container {
  display: block;
 }
 .maps-adress {
  width: 100%;
 }
 .adress, .hours {
  font-size: 15px;
 }
 .text-container .text {
  font-size: 17px;
 }
 .footer {
  width: 100%;
}
.footer-container {
  display: block;
}
.flex-rw {
  width: 100%;
}
.footer-list-header {
  font-size: 12px;
}
.footer-list-header.products {
  padding-right: 140px;
}
.footer-list-header.books {
  padding-right: 140px;
}
.footer-list-top {
  width: 100%;
  justify-content: center;
}
.col-first {
margin-right: 20px;
}
.footer-list-anchor {
  font-size: 1.2em;
}
.footer-social-connect {
  font-size: 2.4em;
}
.footer-social-overlap > a {
  font-size: 2.24em;
}
.footer-list-top.sign {
  text-align: left;
}
.footer-list-top.sign .text {
  margin-right: 17px;
}
.footer-bottom-wrapper {
  font-size: 1.3em;
}
.col-second {
  margin-right: 80px;
}
.ourProducts .col-second {
  margin-right: 44px;
}
.sign .input-social {
  padding-left: 0;
  padding-top: 10px;
}
.footer-last {
  padding-left: 0;
}
.footer-bottom-section .footer-last div {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.blue .actions {
  justify-content: center;
}
.blue .actions div {
  padding-left: 6px;
  padding-right: 6px;
}
.white .actions {
  height: 150px;
}
.white .hamburger-wrapper {
  display: none;
}
.title-wrapper {
  display: block;
}
}