@import './Header.css';
@import './Aside.css';
@import './Main.css';
@import './Footer.css';


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  z-index: -1;
  opacity: 0.8;
}
header,
footer {
  position: relative;
}
.active {
  background: white;
  color: #0C0CD2;
}
.social .fa {
  margin-right: 5px;
  color: black;
  font-size: 20px;
  vertical-align: center;
  position: absolute;
  right: 5px;
  top: 8px;
}
.circle {
  display: inline-block;
  background: blue;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: relative;
}
.bold {
  font-weight: 600;
}
* {
  box-sizing: border-box
}
html, body {
  height: 100%
}
body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between
}
ul {
  list-style: none
}
a {
  text-decoration: none
}
.ReactModalPortal {
  z-index: 2;
}
main {
  flex: 1 1 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  font: 10em "Oswald", sans-serif;
  color: rgb(155,155,155);
  line-height: 1
}
@media (min-width: 1560px) {
  .App {
    border-left: 80px solid gray;
    border-right: 80px solid gray;
  }
}